@keyframes slide-right {
    from {
        opacity: 0;
        transform: translateX(-200px);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(10px);
    } 50% {
        opacity: 0.4;
    } 100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes text-visible {
    0% {
        opacity: 0;
        width: 0;
    } 100% {
        opacity: 1;
        width: 100%;
    }
}
@keyframes fade {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    opacity: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #232323;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 800px;
    padding: 20px;
    animation: fade 0.35s;
    cursor: default;
}

.create-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
}

.sign-methods {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}

.google-sign, .apple-sign, .facebook-sign {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-right: 25px;
    background-color: #303030;
    cursor: pointer;
    transition: background-color 1s ease-out;
}
.google-sign {
    animation: slide-right 0.5s;
}
.apple-sign {
    animation: slide-right 1s;
}
.facebook-sign {
    animation: slide-right 1.5s;
}

.google-sign:hover, .apple-sign:hover, .facebook-sign:hover {
    background-color: #404040;
    transition: background-color 0.2s ease-in;
}

.google-icon, .apple-icon, .facebook-icon {
    vertical-align: middle;
}

.welcome-section {
    margin-bottom: 20px;
    color: #EEE;
}

.welcome-section h1 {
    display: flex;
    font-size: 3rem;
    font-weight: 700;
}

.welcome-section p {
    animation: fade 1s;
    font-size: 1rem;
    margin-bottom: 20px;
}

.create-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fill-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.username {
    animation: slide-up 0.3s;
}
.email_address {
    animation: slide-up 0.6s;
}
.password {
    animation: slide-up 0.9s;
}
.border-red {
    border-color: rgb(255, 104, 104);
}
.border-green {
    border-color: rgb(130, 255, 130);
}

.input-group {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}

.input-group input {
    background-color: transparent;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid whitesmoke;
    font-size: 16px;
    outline: none;
    color: whitesmoke;
    font-weight: 500;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 12px;
    color: #aaa;
    font-size: 16px;
    font-weight: bold;
    cursor: text;
    transform: translateY(-50%);
    background-color: #232323;
    padding: 0 4px;
    z-index: 1;
    transition: 0.2s ease-in-out all;
}

.input-group input:focus {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    transition: 0.45s ease-in-out all;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: 2px;
  left: 10px;
  font-size: 12px;
  color: #e9e9e9;
  font-weight: bolder;
  background-color: #232323;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 27px;
    height: 27px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.15s ease-in-out all;
}
.eye-icon:hover {
    background-color: #404040;
}

.submit-button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    padding: 15px;
    background-color: #9C6FE4;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #b383ff;
}

.text {
    color: whitesmoke;
    opacity: 0.5;
    font-size: small;
    margin-top: -10px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.text-red {
    color: rgb(255, 104, 104);
}
.text-green {
    color: rgb(130, 255, 130);
}

.error-message {
    color: rgb(200, 0, 0);
    font-weight: 500;
}
